@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #E0E0E0;
  --black: #070707;
  --grey: #242424;
  --westar: #E1DFDD;
  --leather: #977A58;
  
  color-scheme: dark;
  color: var(--white);
  background-color: var(--black);
}

.hero-bg {
    -webkit-mask-image: url('/images/logo-mask.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom center;
    mask-image: url('/images/logo-mask.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: bottom center;
}